<div class ="container-list">
<h1>all members</h1>
<ul>
<% @party_members.each do |party_member| %>
  <li>
 <%= party_member.first_name %></h2>
  </li>
 <% end %>
</ul>
</div>

 <div class = "button">
  <%# <%= link_to "Add more members!" new_draw_path class: "btn btn-danger btn-lg btn-block text-white" %>
  </div>
