// Specific CSS for your home-page

.container-banner {
  padding: 30px;
  padding-left: 700px;
 }

/* Float four columns side by side */
.column {
  align-items: center;
  width: 30%;
  padding: 20px 20px;
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  justify-content: center;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #a4d7db;
}

.card:hover {
  transform: scale(1.1);
  background-color: #a9e8ec;
}
