<div class="pt-5">
     <div class="footer">
        <div class="links">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://github.com/MishaHri"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <p> This website was coded with <i class="fa-solid fa-heart"></i>by MishaHri</p>
       </div>
     </div>
</div>
