<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/MishaHri"><%= image_tag "git_hub.jpg"%></a>
  </div>
  <div class="footer-copyright">
    This page was created by Mishahri
  </div>
</div>
