<h1><span style="color: grey;">Step 3:  </span>Secret Santa Ready?</h1>

<ul class="list-group">
  <%# <% @draw.party_members.associate do |associate_members| %>
    <%# <li class="list-group-item"> %>
    <%# <%= associate_members%></li>
  <%# <% end %>
</ul>

  <div class= "image">
    <%= image_tag "presents.jpg"%>
  </div>
