<h1><span style= "color: grey;">Step 3:  </span>Secret Santa Ready?</h1>


<ul>
     <% @assign_list.each do |assign|%>
  <li> <%= assign %></li>
     <%end %>
</ul>


<br>
  <div class= "image">
    <%= image_tag "presents.jpg"%>
  </div>
