<div class ="container-list">
<h1>all draws</h1>
<ul>
<% @draws.each do |draw| %>
  <li>
     <h2>Your event is on  <%= draw.date_of_presents_exchange %> and the budget is  <%= draw.budget%>$</h2>
  </li>
 <% end %>
</ul>
<br>
<br>
</div>
