<h1>Your draw is happening on .....</h1>

<%# <h2><%= @draws.date%></h2>
<%# <p><%= @draw %></p>

<%= link_to "Delete",
  draws_path(@draw),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
