  <div class= "container-image">
    <%= image_tag "secret_santa.png"%>
  </div>

  <div class ="text">
       Secret Santa Time
  </div>

 <div class ="container">
      <p>Organising Secret Santa can be fun.</p>
      <p>Life with presents is a lot better.</p>
</div>

<div class = "row">
  <div class ="column">
    <div class = "card">
      <h3><strong> Step 1</strong></h3>
      <p>Create an event & setup a budget</p>
    </div>
  </div>
  <div class ="column">
    <div class = "card">
      <h3><strong> Step 2</strong></h3>
      <p>Add members to your party & Create a gift wish list</p>
       </div>
  </div>
  <div class ="column">
    <div class = "card">
      <h3><strong> Step 3</strong></h3>
      <p>Send the invites.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
 <div class = "button">
  <%= link_to "Start the party!", new_draw_path, class: "btn btn-danger btn-lg btn-block text-white"%>
  </div>
 </div>
